
/* CITAÇÕES */

/*botão de atualizar*/
.reload-box {
	padding: 20px 0;

	.reload-btn {
		display: block;
		color: $default-color;
		font-size: .85em;

		&:hover {
			color: $light;
		}

		&.loading {
			content: "atualizando...";
			.fa.fa-refresh {
				animation: anim-rotate 2s infinite linear;
			}
		}/*loading*/

		&.done {
			.fa.fa-refresh {
				animation: none;
			}
		}/*loading*/
	}

}/*reload-box*/



/*actions bar*/
#actions-bar {
	.checkbox {margin: 0}
	.btn > .fa, .btn > .glyphicon { color: $lighter }
	.dropdown {margin: 0px}
	.dropdown-menu {
		a {
			.mec-icon {margin-right: 0}
		}
	}
	#mec-dropdown {
		.help-block {
			font-size: .9em;
			padding: 0 10px;
		}
		.dropdown-menu {
			min-width: 220px;
			.auto {
				max-height: 200px;
				margin: 10px 0;
			}
			li > a {
				color: $light;
				margin: 1px;
				padding: 5px;
				&.good, &.neutral, &.bad {
					color: $light-box-bg;
					@include transition(background-color, .1s, ease-in);
					.mec-icon {
						&.captacao {background-position: -0px -64px}
						&.empregabilidade {background-position: -33px -64px}
						&.localizacao {background-position: -66px -64px}
						&.atuacao-etica {background-position: -99px -64px}
						&.corpo-docente {background-position: -132px -64px}
						&.credenciamento-no-mec {background-position: -165px -64px}
						&.preco {background-position: -198px -64px}
						&.qualidade-de-ensino {background-position: -231px -64px}
						&.infraestrutura {background-position: -264 -64px}
						&.relacionamento {background-position: -297px -64px}
					}
				}
				&.good {background-color: $good}
				&.neutral {background-color: $neutral}
				&.bad {background-color: $bad}
			    
			}
		}
	}
}
#actions-bar > .btn-group {
	margin-right: 15px;
}
#actions-bar > .btn-group > .btn, #actions-bar > .btn-group > .dropdown > .btn {
	text-transform: uppercase;
	padding: 8px 12px;
	border: none;
	margin-left: 1px;
}	