/* PAINEL DE FILTRO */
#filter-panel {

  position: fixed;
  z-index: 1031;
  height: 100%;
  top: 0;

  width: 890px;
  left: -840px;

  .filter-btn-container {
    float: right;
    margin: 180px 0 0;
    background: lighten($inverse-background, 10%);
    height: 50px;

    .btn {
      height: 48px;
      background: $inverse-background;
      color: $inverse-text;
      text-align: center;
      margin-top: 1px;
      &:hover {
        background-color: lighten($inverse-background, 10%);
      }
    }
    #filter-toggle {
      width: 33px;
      display: block;
      font-size: 18px;
    }
    .dropdown-toggle {
      background: lighten($inverse-background, 5%);
      width: 10px;
      margin-left: 1px;
    }

  }

  

  .col-xs-6, .col-xs-3 {
    padding: 0 13px;
  }

  .filter-content {
    background: $inverse-background;
    height: 100%;
    padding: 20px 30px;
    width: 840px;
    float: left;

    h2 {font-size: 20px; margin: 0 0 10px; }
    h4 {
      color: $inverse-text;
      text-transform: uppercase;
      font-size: 15px;
      padding: 0 0 7px 0;
      border-bottom: 1px solid rgba(240,240,240,.3);
      font-weight: bold;
      margin-bottom: 10px;
    }
    h5 {margin-bottom: 5px;}


    .filter-group {
      
      .btn-group {
        width: 100%;
      }
      .btn-group-vertical {
        display: block;
      }
      .form-control {height: 29px; padding: 2px 5px; background-color: $btn-default}

      .input-small {width: 40px;}

      .btn {
        font-size: 12px;
        margin: 0;
        padding: 6px 5px;
      }


      &.horario {
        .btn {width: 50%;}
        .btn:last-child {width: 100%}
      }
      &.midias {
        .btn {width: 20%;}
        .btn:last-child, .btn:nth-last-child(2) {width: 50%}
      }
      &.feeling {
        .btn {width: 33%; text-align: center;}
        .btn:last-child {width: 34%}
      }
      &.leitura, &.crm, &.nivel-de-atendimento, &.ultima-interacao, &.status {
        .btn {width: 50%; text-align: center;}
      }
      &.crm .btn {white-space: normal;height: 50px}
      
    }/*filter group*/
  }/*filter content*/

  &.open {
    left: 0;
  }

  footer {
    background-color: lighten($inverse-background, 15%);
    color: $inverse-text;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 840px;
    height: auto;
    .btn {      
      margin-left: 15px;
    }
    .btn-primary {
      text-transform: uppercase;
    }
    .pull-right a:first-child {color: $inverse-text}
  }
}