/* PAINEL DE FILTRO */
#filter-panel {

  position: fixed;
  z-index: 1031;
  height: 100%;
  top: 0;

  width: 800px;
  left: -750px;

  .filter-toggle {
    background: $inverse-background;
    color: $inverse-text;
    width: 50px;

    display: block;
    text-align: center;
    font-size: 24px;
    float: right;
    height: 50px;
    padding: 5px;
    margin: 180px 0 0;
  }

  .filter-content {
    background: $inverse-background;
    height: 100%;
    padding: 20px;
    width: 750px;
    float: left;

    h3 {margin-bottom: 5px}


    .filter-group {
      
      .btn-group {
        width: 100%;
      }
      .btn-group-vertical {
        display: block;
      }
      select, .form-control {height: 29px; padding: 2px 5px; background-color: $btn-default}

      .input-small {width: 40px;}

      .btn {
        font-size: 12px;
        margin: 0;
      }


      &.horario {
        .btn {width: 50%;}
        .btn:last-child {width: 100%}
      }
      &.midias {
        .btn {width: 20%;}
        .btn:last-child {width: 100%}
      }
      &.feeling {
        .btn {width: 33%; text-align: center;}
        .btn:last-child {width: 34%}
      }
      &.leitura, &.crm, &.nivel-de-atendimento, &.ultima-interacao, &.status {
        .btn {width: 50%; text-align: center;}
      }
      
    }/*filter group*/
  }/*filter content*/

  &.open {
    left: 0;
  }
}