

	/* CORES */
	$header-bg-gray: #6eaea8;

	/* IMAGENS DE FUNDO */
	$pixel: url('../img/textures/pixel.png');
	$plaid: url('../img/textures/plaid.png');
	$blocks: url('../img/textures/blocks.png');

/* CABEÇALHO*/
#header {
	margin: -20px 0 40px;
	position: relative;
	background-color: $header-bg-gray;
	background-image: $blocks;
  	background-blend-mode: multiply;
  	background-position: center center;
}
#header:before {
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: " ";
	opacity: .35;
}


/*nav tabs*/
.nav-tabs {
	margin-bottom: -1px;
	position: relative;
	li {
		margin-left: 10px;
		a {
			background-color: rgba(255,255,255,.4);
			color: $default-text;
		}
	}
}


/*institution-box*/
#institution-box {
	padding: 30px 0;
	position: relative;
	.institution-image {
		float: left;
		width: 77px;
		height: 77px;
	}
	.institution-data {
		float: left;
		margin-left: 10px;
		h2 {
			text-transform: uppercase;
			color: $light-box-bg;
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 10px;
		}
		.painel {
			height: 53px;
			background-color: rgba(255,255,255, .7);

			.institution-feeling {
				width: 53px;
				height: 53px;
				text-align: center;
				float: left;
				.feeling-icon {
					margin: 10px auto;
				}
			}

			.capital-social {
				width: 85px;
				float: left;
				text-align: center;
				padding: 0 5px;
				h5 {
					font-size: 20px;
					font-weight: bold;
					line-height: 1em;
					margin: 0;
					padding: 3px 0 8px;
					border-bottom: 1px solid $lighter-text;
				}
				p {
					font-size: .7em;
					color: $light-text;
					margin: 0;
					padding: 3px 0;
					strong {
						color: $default-text;
					}
				}
			}
			.menu {
				float: left;
				width: 120px;
				padding: 5px 10px;
				font-size: .95em;
				p {
					margin: 0;
				}
				.dropdown {
					.dropdown-toggle {
						font-size: .8em;
					}

				}
			}
		}
	}
}