/* LOGIN PAGES*/


  
body.login{
  background: url(../img/backgrounds/bg01.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;

  &.alternatebg {background-image: url(../img/backgrounds/bg02.jpg)}
  .help-block {text-align: left; margin-top: -5px}

  .login-center {
    width: 440px;
    position: absolute;
    height: 380px;
    top: 35%;
    left: 50%;
    margin: -165px -220px;
    text-align: center;
    img {
      margin-bottom: 30px;
    }
  }
  .form-signin {
    background: $light-box-bg;
    background: rgba(255,255,255,.9);
    padding: 20px 25px 30px;
    margin: 0 auto;
    @include border-radius(6px);
  }
  .form-signin-heading {
    margin: -20px 0 20px;
    h1{
      font-size: 24px;
      font-weight: bold;
    }
  }
  .forgot-password-link {
    margin-bottom: 15px
  }
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
    text-align: left;
    margin: 0 20px 15px;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-control {
    margin-bottom: 10px;
  }
  .form-signin .login-mail {
    margin-bottom: -1px;
  }
  .btn-lg {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    margin-top: 15px;
  }
}