/* PAINEL DE FILTRO */
#filter-panel {
  position: fixed;
  z-index: 1031;
  height: 100%;
  top: 0;

  width: 890px;
  left: -840px;

    /* placeholder */
  ::-webkit-input-placeholder { /* WebKit browsers */
      color:    $default-text !important;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $default-text !important;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $default-text !important;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    $default-text !important;
  }

  select, input[type=text], .dropdown-toggle {font-size: 12px; border: 1px solid transparent;}

  .filter-btn-container {
    float: right;
    margin: 180px 0 0;
    background-color: lighten($inverse-background, 10%);
    height: 50px;

    .btn {
      height: 48px;
      background-color: $inverse-background;
      color: $inverse-text;
      text-align: center;
      margin-top: 1px;
      &:hover {
        background-color: lighten($inverse-background, 10%);
      }
    }
    #filter-toggle {
      width: 33px;
      display: block;
      font-size: 18px;
    }
    .dropdown-toggle {
      background-color: lighten($inverse-background, 5%);
      padding: 4px;
      margin-left: 1px;
      width: 16px;
    }

  }
  

  .col-xs-6, .col-xs-3 {
    padding: 0 13px;
  }

  .filter-content {
    background-color: $inverse-background;
    height: 100%;
    padding: 20px 30px;
    width: 840px;
    float: left;

    .filter-group > .btn-group >.btn, .btn-default, .form-control {
      background-color: $btn-filter;
      color: $dark-text;
      border-bottom: 1px solid darken($btn-filter, 5%);
      border-right: 1px solid darken($btn-filter, 5%);
      border-top: none;
    }

    .mec-menu > .btn-group > .btn-default {
      border-bottom: 1px solid darken($btn-filter, 5%) !important;
      border-right: 1px solid darken($btn-filter, 5%) !important;
      border-top: none;
      width: 34px;
      height: 33px;
    }
    .filter-group > .btn-group >.btn:hover, .btn-default:hover, .form-control:hover {
      background-color: darken($btn-filter, 5%);
      z-index: inherit;
    }
    .saved-filters .control-label {color: lighten($notification-background, 30%); padding: 5px 0 0; font-size: 12px;}

    h2 {font-size: 20px; margin: 0 0 10px; }
    h4 {
      color: lighten($notification-background, 50%);
      text-transform: uppercase;
      font-size: 15px;
      padding: 0 0 7px 0;
      border-bottom: 1px solid rgba(240,240,240,.3);
      font-weight: bold;
      margin-bottom: 10px;
    }
    h5 {margin-bottom: 5px; color: lighten($notification-background, 40%);}


    .filter-group {

      .selectpicker {
        background-color: transparent;
        font-weight: 300;
      }

      .unite-indicators {
        margin: 0;
        display: block;
        label {
          color: lighten($notification-background, 10%);
          font-weight: 300;
          font-size: 12px;
        }
        input[type="checkbox"] {margin-top: 2px}
        .help-button {padding: 3px 5px}
      }
      
      .btn-group {
        width: 100%;
      }
      .btn-group-vertical { 
        display: block;
      }
      .form-control {height: 29px;}

      .input-small {width: 40px;}

      .btn, .btn-default {
        font-size: 12px;
        font-weight: 200;
        margin: 0;
        &:last-child {border-right: none;}

        &.active {
          background-color: $selected-filter;
          color: lighten($notification-background, 5%);
          border-top: 1px solid darken($selected-filter, 5%);
          border-right: 1px solid darken($selected-filter, 5%);
          border-bottom: none;
          z-index: 0;
          &:hover {background-color: darken($selected-filter, 5%);}
          input {color: $default-text}
          &.good {
            border-top: 1px solid darken($good, 5%);
            border-right: 1px solid darken($good, 5%);
          }
          &.neutral {
            border-top: 1px solid darken($neutral, 5%);
            border-right: 1px solid darken($neutral, 5%);
          }
          &.bad {
            border-top: 1px solid darken($bad, 5%);
            border-right: 1px solid darken($bad, 5%);
          }
        }
      }

      .btn-set {width: 100%}

      &.horario {
        .btn {width: 50%;}
        .btn-set {width: 100%}
      }
      &.midias {
        .btn {width: 20%;}
        .btn:last-child, .btn:nth-last-child(2) {width: 50%}
        .btn:nth-child(8) {padding: 6px}
      }
      &.feeling {
        @extend .btn-group.feeling;
        label:hover {background-image: url("img/mec-feel-sprite.png");}
      }
      &.leitura, &.crm, &.nivel-de-atendimento, &.ultima-interacao, &.status {
        .btn {
          width: 50%;
          text-align: center;
          padding: 6px 5px;}
      }
      &.crm {
        .btn {
          white-space: normal;
          height: 41px;
          line-height: 1.1em;
          &:first-child {padding-top: 14px;}
        }
      }
      &.status .btn:first-child {
        font-size: 11px;
      }

      &.mec {
        .mec-menu  {
          .dropup {
            float: left;
            width: 33px;
          }
          .dropdown-menu {
            border: none;
          }
        }
      }
      
    }/*filter group*/
  }/*filter content*/

  &.open {
    left: 0;
  }

  footer {
    background-color: lighten($inverse-background, 15%);
    color: $inverse-text;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 840px;
    height: auto;
    .btn {      
      margin-left: 15px;
    }
    .btn-primary {
      text-transform: uppercase;
    }
    .pull-right a:first-child {color: $inverse-text}
  }

  .tags-menu {
    .btn-default, .btn-default:hover {background-color: inherit; color: inherit;}
    .form-control, .form-control:hover {background-color: #FFFFFF; border: 1px solid transparent;}
  }


  &.report-filter-panel {
    .filter-content > .row {
      margin-bottom: 20px
    }
  }
}