#home {
	padding-bottom: 80px;
	.user-profile {
		padding: 0;
	}
	.panel {
		padding: 15px 20px;
		.progress {
			.progress-bar {
				text-align: left;
				padding: 0 5px;
			}
		}
	}
	.btn-toolbar {
		text-align: center;
		.btn-group {float: none;}
	}
	h2 {
		font-size: 20px;
		font-weight: normal; 
		margin: 30px 0 15px;
		color: #101010;
	}
	h3 {
		margin: 10px 0 20px;
		text-transform: uppercase;
		font-weight: bold;
		color: $dark-text;
	}
	.institution-feeling {
		float: none;
		display: inline-block;
		padding: 3px;
		margin: 3px;
	}
	#header .institution-feeling {margin: 0; float: left;}
	.painel.extended {
		height: auto;
		.institution-feeling {
			float: left;
			padding: 0;
			margin: 0;
		}
		.capital-social {
			width: calc(100% - 53px);
			background-color: $box-bg;
			font-size: 26px;
			height: 53px;
			padding: 10px;
			h5 {border: none;}
		}
		p {
			text-align: center;
			padding: 5px;
			background-color: $dark-box-bg;
			display: block;
		}
	}
	.carousel {
		text-align: center;
		.item {
			.carousel-caption {
				color: $light-text;
				display: block;
				position: static;
				padding: 0 0 20px;
				font-size: 12px;
				text-shadow: none;
				a {
					display: block;
				}
			}
		}
		.carousel-indicators {
			bottom: 0;
			margin: 0 -30%;
		}
	}
	.person-box {
		float: left;
		width: 100%;
		height: auto;
		.person-title {
			margin-bottom: 8px;
		}
		.person-image > img{
			width: 120px;
			height: 120px;
			margin-bottom: 10px
		}
		.person-badge {
			background-color: transparent;
			background-image: url("img/badge.png");
			height: 62px;
			width: 41px;
			padding: 8px 0;
		}
	}
	.social-list {
		list-style: none;
		padding: 0;
		li {
			background-color: $box-bg;
			display: inline-block;
			float: left;
			margin: 0 1px 1px 0;
			width: 52px;
			height: 72px;
			text-align: center;
			.fa {
				display: block;
				font-size: 26px;
				line-height: 1.5;
				padding: 2px 0;
			}
		}
	}
	#page-footer {
		margin-top: 50px
	}
}


#ticker {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: $notification-background;
	height: 80px;
	width: 100%;

	.carousel {
		padding: 0 30px;
		.institution-feeling {
			width: 53px;
			height: 53px;
			padding: 15px 0;
			float: left;
		}
		.carousel-control {
			left: 0;
			margin: 0;
			height: 33px;
			width: 18px;
			&.left {
				top: 0;
				bottom: auto;
			}
			&.right {
				bottom: 0;
				top: auto;
			}
		}
		.close {
			position: absolute;
			top: 50%;
			right: 0;
			.close-ticker-btn {color: $light-box-bg;}
		}
		.carousel-inner {
			.item.active .marquee-container .marquee-data{
				-webkit-animation: marquee-animation 5s linear; /* Safari 4+ */
				-moz-animation:    marquee-animation 5s linear; /* Fx 5+ */
				-o-animation:      marquee-animation 5s linear; /* Opera 12+ */
				animation:         marquee-animation 5s linear;
			}
			.item {
				padding: 10px 0;
			}
			.marquee-container {
				position: relative;
				overflow: hidden;
				width: 840px;
				height: 30px;
				text-align: left;

				&:after {
					width:100%;
					height: 90px;
					content: " ";
					top: -30px;
					left: 0;
					position: absolute;
					background: transparent;
					box-shadow: -35px 0 20px #566573 inset, 35px 0 20px #566573 inset;
				}

				.marquee-data {
					color: #FFFFFF;
					font-size: 20px;
					display: block;
					width: 150%;
					position: relative;
					left: 0;
					white-space: nowrap;
				}
			}
			.carousel-caption {
				text-align: left;
				padding: 0;
				a {display: inline;}
			}
		}
	}
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}



/* RADIO PANEL */
.radio-panel-container {

	.radio-panel {
		.radio-box {
			.radio-btn {
				display: block;
				padding: 8px;
				color: $lighter-text;
				.fa {
					font-size: 18px;
					margin-right: 5px;
					&:first-child {display: inline-block;}
					&:nth-child(2) {display: none;}
				}
			}
			&.active {
				.radio-btn {
					color: $dark-text;
					.fa {
						&:first-child {display: none;}
						&:nth-child(2) {display: inline-block;}
					}
				}
			}
		}
		.radio-panel-content {
			padding: 15px;
			.form-group {margin-bottom: 0}
		}
	}

	.or-divider{
		border-top: 1px solid $box-bg;
		margin: 20px 0 -5px;
		text-align: center;
		span {
			display: inline-block;
			padding: 5px 15px;
			background: $light-box-bg;
			position: relative;
			top: -17px;
		}
	}

}/*radio-panel-container*/







