/* PREFERÊNCIAS */

	/* NAVEGAÇÃO */
	#pref-nav, #config-nav {
		li {
			a {
				background-color: $dark-box-bg;
				color: $default-text;
				text-transform: uppercase;
				font-size: 13px;
				margin-bottom: 10px
			}
			&.active {
				a {
					background-color: $light-box-bg;
					color: $dark-text;
					position: relative;
					font-weight: bold;
					&:after {
					    content: " ";
					    position: absolute;
					    height: 0;
					    width: 0;
						border-bottom: 20px solid transparent;
						border-top: 20px solid transparent;
					    border-left: 20px solid $light-box-bg;
					    right: -20px;
					    top: 0px;
					}
				}
			}
			&.divider {
				margin: 40px 0;
				border: none;
			}
		}
	}

	/* LISTA DE ALERTAS */
	.alert-form {
		margin: 0 0 40px;
		.checkbox {
			display: block;
			padding: 5px;
			&:nth-child(odd) {background-color: $box-bg; }
			select {
				display: inline-block;
				margin-left: 5px;
			}
		}
	}

	/* FILA DE CAPTAÇÃO */
	.quote-queue {
		background: $box-bg;
		padding: 15px 10px 10px;
		.icon-box {
			text-align: center;
			padding: 5px 0;
			.fa {font-size: 30px}
		}
	}







	/* PALAVRAS-CHAVE */
	#word-group {

		.word-box {
			background-color: $box-bg;
			@include border-radius(3px);

			&.active {
				background-color: $notification-background;
				color: $inverse-text;

				&.hover {
					background-color: darken($notification-background, 5%);
				}

				.toggle-word {
					color: $inverse-text;
				}
				.word-date, .word-count small:last-child {color: #AAB0B3;}

			}

			&.hover {background-color: darken($box-bg, 5%)}

			.word-date, .word-count {
				display: block;
				text-align: center;
			}
			.word-title, .word-date, .word-media, .word-count, .tags {
				margin: 0 -15px;
				padding: 0 15px 0 0;
				word-wrap: break-word;
			}

			.toggle-word {
				font-size: 22px;
				padding: 0 10px 10px;
				margin: -10px;
			}

			.word-title {
				text-transform: uppercase;
				font-weight: normal;
				display: block;
			}

			.word-date {
				font-size: 12px;
				color: $light-text;
			}

			.word-count {
				font-size: 18px;
				line-height: 1.1em;
				small {font-size: 12px}
				small:last-child {
					margin-top: -3px;
					display: block;
					color: $light-text;
				}
			}

			.word-media {
				.btn {
					font-size: 12px;
					padding: 0 3px;
					margin: 3px;
					min-width: 18px;
					width: auto;
					height: 18px;
					cursor: default;
					@include border-radius(3px);
					.fa {
						margin-top: -1px
					}
					:hover {
						background-color: $btn-default;
					}
				}
			}

			.edit-word {
				@include border-radius(3px);
			}
		}
	}
	.modal {
		.word-media {
			.btn {
				margin: 3px;
				&.active {
					background-color: $notification-background;
					color: $inverse-text;
					&:hover {
						background-color: darken($notification-background, 5%);
					}
				}
			}
		}
	}