/* RELATÓRIOS */

#report-header {
	padding: 10px;
	margin-bottom: 50px;
	&>form .row {
		.col-xs-2 {
			padding: 0 10px;
			margin-left: -5px
		}
	}
	form > p {margin: 10px 0;}

	.report-name {
		font-size: 24px;
	    font-weight: normal;
	    line-height: 1.5;
	    padding: 5px 10px;
	}
}
.report-panel.panel {
	margin-bottom: 30px;

	.panel-heading {
		background-color: $box-bg;
		text-align: center;

		.panel-title {
			display: inline-block;
			margin: 0 auto;
			padding: 0 10px;

			&>h3 {
				font-size: 26px;
				text-transform: none;
				font-weight: 300;
				display: inline;
				color: $dark-text;
			}

			.help-button {
				margin: 0;
				padding: 5px;
				position: relative;
				top: -3px;
			}
		}
	}
	.panel-body {
		background-color: $light-box-bg;
		padding: 25px 0;

		h4 { @extend h2; color: $default-text; margin-top: 0; font-size: 13px; }
		.btn-block {white-space: normal;}

		.slide /* carousel */ {
			padding: 0 7% 50px;
			.carousel-control {
				background: transparent;
				color: $dark-text;
			    width: 7%;
			}
			.carousel-indicators {
				bottom: -10px;
				li {
					background-color: $btn-default;
					@include border-radius(5px);
					text-indent: 0;
					width: auto;
					height: auto;
					padding: 5px 10px;
					margin: 0 5px;
					@extend .btn;
					@extend .btn-default;

					&.active {
						background-color: $btn-inverse;
						color: $inverse-text;
						&:hover {
							background-color: darken($btn-inverse, 10%);
							color: $inverse-text;
						}
					}
				}
			}
			.item {
				height: 300px;
				&>.row{
					margin: 0;
					.col-xs-3, .col-xs-2 {
						padding: 10px;
						margin: 0 5px;
					}
				}
				.people-chart > .row {
					margin: 0 5px;	
					.col-xs-4 {
						width: calc(33.3333% - 10px);
						margin-left: 5px;
						margin-right: 5px;
					}
				}
				.list-unstyled.feeling {
					li {
						font-size: 13px;
						margin: 4px;
						display: inline-block;
					}
				}
			}
			.chart-container {
				width: 100%;
				&.has-control {
					width: calc(100% - 110px);
					float: right;
				}
			}		
			.btn-group-vertical {
				width: 100px;
				float: left;
			}
		}
	}

} /* .report-panel */


/* NAVBAR */
#report-navbar {
	margin-bottom: 0;
	z-index: 16;
	&.affix {
		left: 0;
		padding: 10px 0;
		@include transition(all, .3s, ease-in-out);
		.container {
			padding-right: 0
		}
	}
	.container {
		padding-right: 20px
	}
}

/* PEOPLE CHART */
.people-chart {

	&>.row:first-child {

		.person-box {
			padding: 10px;
			height: auto;

			.person-badge {
				background-color: transparent;
				background-image: url("img/badge.png");
				height: 62px;
				width: 41px;
				padding: 6px 0;
				font-size: 20px;
			}
			.person-image img{
				width: 120px;
				height: 120px;
				margin: 0;
			}	
			.person-data {
				font-size: 13px;
				p {
					font-size: 12px;
					margin-bottom: 10px;
				}
			}
			.person-title {
				padding: 0 40px;
				font-size: 14px;
				margin: -3px 0 8px;
			}
			.progress-container {
				.progress {
					height: 20px;
					width: calc(100% - 27px);
					float: left;
					.progress-bar {
						font-size: 12px;
						line-height: 20px;
					}
				}
			}
		}
	}
}
.people-chart, .twitter-chart {

	.person-box {
		background-color: $box-bg;
		padding: 0 10px;
		margin: 12px 0;
		position: relative;
		overflow: visible;
		height: 120px;

		.person-badge {
			background-color: $notification-background;
			position: absolute;
			top: -5px;
			left: 0px;
			width: 30px;
			height: 30px;
			color: $inverse-text;
			font-weight: bold;
			text-align: center;
			font-size: 16px;
			padding: 3px 0;
			@include border-radius(30px);
		}

		.person-title {
			font-weight: normal;
			color: $dark-text;
			word-wrap: break-word;
			line-height: 1.1;
			font-size: 12px;
			display: block;
			text-align: center;
			margin: 5px 0;
			&:hover {color: $default-text}
		}

		.person-image {
			float: left;
			margin-right: 10px;
			img {
				width: 80px;
				height: 80px;
			}
		}
		.person-data {
			p {
				font-size: 11px;
				font-style: italic;
				margin: -5px 0 5px;
				width: 105px;
			}
			.progress-container {
				width: 100%;
				position: relative;

				.progress {
					margin-bottom: 5px;
					height: 15px;
					width: 78px;
					@include box-shadow(0,0,0,transparent);

					.progress-bar {
						min-width: 30%;
						font-size: 10px;
						line-height: 15px;
					}
				}
				.feeling-icon {
					float: left;
					margin: -8px 0;
					width: 27px;
				}
			}
		}
	}
}
.twitter-chart {
	.row {
		margin: 0;

		.col-xs-3 {
			width: calc(25% - 10px);
			margin: 6px 5px;
		}
		.person-box {
			height: 85px;

			.person-image img{
				width: 50px;
				height: 50px;
			}
			.person-data {
				position: relative;
				width: calc(100% - 60px);
				.progress-container {

					.progress {
						margin-bottom: 3px;
						width: 100%;
					}
				}
			}
		}
	}
}


/*  MODAL  */
#reportModal {
	
}







