/* RELATÓRIOS */

#report-header {
	padding: 10px
}
.report-panel {

	.panel-heading {
		background-color: $box-bg;
		text-align: center;

		.panel-title {
			display: inline-block;
			margin: 0 auto;
			padding: 0 10px;

			&>h3 {
				font-size: 26px;
				text-transform: none;
				font-weight: 300;
				display: inline;
				color: $dark-text;
			}

			.help-button {
				margin: 0;
				padding: 5px;
				position: relative;
				top: -3px;
			}
		}
	}
	.panel-body {
		background-color: $light-box-bg;
		padding: 25px 0;

		h4 { @extend h2; color: $default-text; margin-top: 0; font-size: 13px; }
		.btn-block {white-space: normal;}

		.slide /* carousel */ {
			padding: 0 7% 50px;
			.carousel-control {
				background: transparent;
				color: $dark-text;
				height: 100px;
			    margin: -50px 0;
			    top: 50%;
			    width: 7%;
			}
			.carousel-indicators {
				bottom: -10px;
				li {
					background-color: $btn-default;
					@include border-radius(5px);
					text-indent: 0;
					width: auto;
					height: auto;
					padding: 5px 10px;
					margin: 0 5px;
					@extend .btn;
					@extend .btn-default;

					&.active {
						background-color: $btn-inverse;
						color: $inverse-text;
						&:hover {
							background-color: lighten($btn-inverse, 15%);
							color: $inverse-text;
						}
					}
				}
			}
			.item {
				&>.row {
					margin: 0;
					.well {
						padding: 10px;
						margin: 0 5px;
						border: none;
					}
				}
				.list-unstyled.feeling {
					li {
						font-size: 13px;
						margin: 4px;
						display: inline-block;
					}
				}
			}
			.chart-container {
				width: 100%;
				&.has-control {
					width: calc(100% - 110px);
					float: right;
				}
			}		
			.btn-group-vertical {
				width: 100px;
				float: left;
			}
		}
	}

} /* .report-panel */