@charset "UTF-8";
/*
** GENERIC
** Todos os componentes reutilizaveis
*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* -------------------------------------------------------------

ANIMATIONS

-------------------------------------------------------------  */
/* ROTATE */
@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* example: animation: anim-rotate 2s infinite linear; */
/*
** DEFAULT
** Onde você coloca todas as suas variaveis
*/
/* VARIAVEIS */
/* Cores */
/* STATUS */
/* FEELING */
/* TYPOGRAPHY*/
/* BOXES */
/*$box-bg: #BDC3C7;*/
/* QUOTE BUTTONS */
/*$quote-btn-bg: darken($box-bg, 1%);*/
/* SOCIAL */
/* HEADER */
/* THE CSS */
/*typography*/
body, p {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

.light {
  color: #666666;
}

.lighter {
  color: #999999;
}

.badge {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

label {
  font-weight: normal;
}

a:hover {
  text-decoration: none;
}

.good-txt {
  color: #27ae60;
}

.neutral-txt {
  color: #2980b9;
}

.bad-txt {
  color: #c0392b;
}

/*HELPERS*/
.auto {
  overflow: auto;
}

.accordion-hidden {
  display: none;
}

.accordion-trigger.disabled {
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}

.center-box {
  text-align: center;
}

/*Media queries breakpoints*/
.container {
  width: 950px !important;
  padding: 0;
}

/* COMPONENTES */
/* DROPDOWN */
.dropdown-menu li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* SOCIAL ICONS */
.social {
  background: #f7f7f7;
  text-align: center;
  height: 32px;
  width: 32px;
  padding: 2px;
  font-size: 18px;
}
.social:hover {
  color: #FFFFFF;
}
.social.facebook {
  color: #3b5998;
}
.social.facebook:hover {
  color: #4c70ba;
}
.social.twitter {
  color: #00aced;
}
.social.twitter:hover {
  color: #21c2ff;
}
.social.youtube {
  color: #bb0000;
}
.social.youtube:hover {
  color: #ee0000;
}
.social.gplus {
  color: #dd4b39;
}
.social.gplus:hover {
  color: #e47365;
}
.social.instagram {
  color: #517fa4;
}
.social.instagram:hover {
  color: #7098b8;
}
.social.flickr {
  color: #ff0084;
}
.social.flickr:hover {
  color: #ff339d;
}
.social.linkedin {
  color: #007bb6;
}
.social.linkedin:hover {
  color: #009de9;
}
.social.blogger {
  color: #ff6600;
}
.social.blogger:hover {
  color: #ff8533;
}
.social.foursquare {
  color: #0072b1;
}
.social.foursquare:hover {
  color: #0093e4;
}
.social.reclame-aqui {
  color: #008751;
}
.social.reclame-aqui:hover {
  color: #00a160;
}
.social.reclame-aqui .reclame-aqui-icon {
  width: 70%;
  padding: 5% 0 15%;
}
.social.inverse {
  color: #FFFFFF;
}
.social.inverse.facebook {
  background: #3b5998;
}
.social.inverse.facebook:hover {
  background: #4c70ba;
}
.social.inverse.twitter {
  background: #00aced;
}
.social.inverse.twitter:hover {
  background: #21c2ff;
}
.social.inverse.youtube {
  background: #bb0000;
}
.social.inverse.youtube:hover {
  background: #ee0000;
}
.social.inverse.gplus {
  background: #dd4b39;
}
.social.inverse.gplus:hover {
  background: #e47365;
}
.social.inverse.instagram {
  background: #517fa4;
}
.social.inverse.instagram:hover {
  background: #7098b8;
}
.social.inverse.flickr {
  background: #ff0084;
}
.social.inverse.flickr:hover {
  background: #ff339d;
}
.social.inverse.linkedin {
  background: #007bb6;
}
.social.inverse.linkedin:hover {
  background: #009de9;
}
.social.inverse.blogger {
  background: #ff6600;
}
.social.inverse.blogger:hover {
  background: #ff8533;
}
.social.inverse.foursquare {
  background: #0072b1;
}
.social.inverse.foursquare:hover {
  background: #0093e4;
}
.social.inverse.reclame-aqui {
  background: #008751;
}
.social.inverse.reclame-aqui:hover {
  background: #00a160;
}
.social.inverse.reclame-aqui .reclame-aqui-icon {
  width: 70%;
  padding: 5% 0 15%;
}

/* BOTÕES */
.btn {
  border: none;
}

.quote .btn-group .btn, .quote .accordion-trigger, .quote footer .btn {
  background-color: #e9eaeb;
}
.quote .btn-group .btn:hover, .quote .btn-group .btn:active, .quote .btn-group .btn:focus, .quote .accordion-trigger:hover, .quote .accordion-trigger:active, .quote .accordion-trigger:focus, .quote footer .btn:hover, .quote footer .btn:active, .quote footer .btn:focus {
  background-color: white;
}

/* BOTÕES DOS MENUS DO MEC E DE SENTIMENTO */
.mec-menu .btn, .feeling-menu .btn, .feeling-icon, .mec-icon {
  background-image: url("../img/mec-feel-sprite.png");
  border: none !important;
  height: 32px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -999px;
  width: 33px;
  /* SENTIMENTO */
  /* INDICADORES MEC */
  /*captacao*/
  /*empregabilidade*/
  /*localizacao*/
  /*atuacao-etica*/
  /*corpo-docente*/
  /*credenciamento-no-mec*/
  /*preco*/
  /*qualidade-de-ensino*/
  /*infraestrutura*/
  /*relacionamento*/
}
.mec-menu .btn.indeterminate, .feeling-menu .btn.indeterminate, .feeling-icon.indeterminate, .mec-icon.indeterminate {
  background-position: -330px -96px;
}
.mec-menu .btn.good, .feeling-menu .btn.good, .feeling-icon.good, .mec-icon.good {
  background-position: -330px -0px;
}
.mec-menu .btn.good:hover, .mec-menu .btn.good:active, .feeling-menu .btn.good:hover, .feeling-menu .btn.good:active, .feeling-icon.good:hover, .feeling-icon.good:active, .mec-icon.good:hover, .mec-icon.good:active {
  background-position: -330px -32px;
}
.mec-menu .btn.good.active, .feeling-menu .btn.good.active, .feeling-icon.good.active, .mec-icon.good.active {
  background-position: -330px -64px;
  background-color: #27ae60;
}
.mec-menu .btn.neutral, .feeling-menu .btn.neutral, .feeling-icon.neutral, .mec-icon.neutral {
  background-position: -363px -0px;
}
.mec-menu .btn.neutral:hover, .mec-menu .btn.neutral:active, .feeling-menu .btn.neutral:hover, .feeling-menu .btn.neutral:active, .feeling-icon.neutral:hover, .feeling-icon.neutral:active, .mec-icon.neutral:hover, .mec-icon.neutral:active {
  background-position: -363px -32px;
}
.mec-menu .btn.neutral.active, .feeling-menu .btn.neutral.active, .feeling-icon.neutral.active, .mec-icon.neutral.active {
  background-position: -363px -64px;
  background-color: #2980b9;
}
.mec-menu .btn.bad, .feeling-menu .btn.bad, .feeling-icon.bad, .mec-icon.bad {
  background-position: -396px -0px;
}
.mec-menu .btn.bad:hover, .mec-menu .btn.bad:active, .feeling-menu .btn.bad:hover, .feeling-menu .btn.bad:active, .feeling-icon.bad:hover, .feeling-icon.bad:active, .mec-icon.bad:hover, .mec-icon.bad:active {
  background-position: -396px -32px;
}
.mec-menu .btn.bad.active, .feeling-menu .btn.bad.active, .feeling-icon.bad.active, .mec-icon.bad.active {
  background-position: -396px -64px;
  background-color: #c0392b;
}
.mec-menu .btn.remove, .feeling-menu .btn.remove, .feeling-icon.remove, .mec-icon.remove {
  background-position: -363px -96px;
}
.mec-menu .btn.remove:hover, .mec-menu .btn.remove:active, .feeling-menu .btn.remove:hover, .feeling-menu .btn.remove:active, .feeling-icon.remove:hover, .feeling-icon.remove:active, .mec-icon.remove:hover, .mec-icon.remove:active {
  background-position: -396px -96px;
}
.mec-menu .btn.captacao, .feeling-menu .btn.captacao, .feeling-icon.captacao, .mec-icon.captacao {
  background-position: -0px -0px;
}
.mec-menu .btn.captacao:hover, .mec-menu .btn.captacao:active, .mec-menu .btn.captacao.active, .feeling-menu .btn.captacao:hover, .feeling-menu .btn.captacao:active, .feeling-menu .btn.captacao.active, .feeling-icon.captacao:hover, .feeling-icon.captacao:active, .feeling-icon.captacao.active, .mec-icon.captacao:hover, .mec-icon.captacao:active, .mec-icon.captacao.active {
  background-position: -0px -32px;
}
.mec-menu .btn.captacao.good, .feeling-menu .btn.captacao.good, .feeling-icon.captacao.good, .mec-icon.captacao.good {
  background-color: #27ae60;
  background-position: -0px -64px;
}
.mec-menu .btn.captacao.neutral, .feeling-menu .btn.captacao.neutral, .feeling-icon.captacao.neutral, .mec-icon.captacao.neutral {
  background-color: #2980b9;
  background-position: -0px -64px;
}
.mec-menu .btn.captacao.bad, .feeling-menu .btn.captacao.bad, .feeling-icon.captacao.bad, .mec-icon.captacao.bad {
  background-color: #c0392b;
  background-position: -0px -64px;
}
.mec-menu .btn.empregabilidade, .feeling-menu .btn.empregabilidade, .feeling-icon.empregabilidade, .mec-icon.empregabilidade {
  background-position: -33px -0px;
}
.mec-menu .btn.empregabilidade:hover, .mec-menu .btn.empregabilidade:active, .mec-menu .btn.empregabilidade.active, .feeling-menu .btn.empregabilidade:hover, .feeling-menu .btn.empregabilidade:active, .feeling-menu .btn.empregabilidade.active, .feeling-icon.empregabilidade:hover, .feeling-icon.empregabilidade:active, .feeling-icon.empregabilidade.active, .mec-icon.empregabilidade:hover, .mec-icon.empregabilidade:active, .mec-icon.empregabilidade.active {
  background-position: -33px -32px;
}
.mec-menu .btn.empregabilidade.good, .feeling-menu .btn.empregabilidade.good, .feeling-icon.empregabilidade.good, .mec-icon.empregabilidade.good {
  background-color: #27ae60;
  background-position: -33px -64px;
}
.mec-menu .btn.empregabilidade.neutral, .feeling-menu .btn.empregabilidade.neutral, .feeling-icon.empregabilidade.neutral, .mec-icon.empregabilidade.neutral {
  background-color: #2980b9;
  background-position: -33px -64px;
}
.mec-menu .btn.empregabilidade.bad, .feeling-menu .btn.empregabilidade.bad, .feeling-icon.empregabilidade.bad, .mec-icon.empregabilidade.bad {
  background-color: #c0392b;
  background-position: -33px -64px;
}
.mec-menu .btn.localizacao, .feeling-menu .btn.localizacao, .feeling-icon.localizacao, .mec-icon.localizacao {
  background-position: -66px -0px;
}
.mec-menu .btn.localizacao:hover, .mec-menu .btn.localizacao:active, .mec-menu .btn.localizacao.active, .feeling-menu .btn.localizacao:hover, .feeling-menu .btn.localizacao:active, .feeling-menu .btn.localizacao.active, .feeling-icon.localizacao:hover, .feeling-icon.localizacao:active, .feeling-icon.localizacao.active, .mec-icon.localizacao:hover, .mec-icon.localizacao:active, .mec-icon.localizacao.active {
  background-position: -66px -32px;
}
.mec-menu .btn.localizacao.good, .feeling-menu .btn.localizacao.good, .feeling-icon.localizacao.good, .mec-icon.localizacao.good {
  background-color: #27ae60;
  background-position: -66px -64px;
}
.mec-menu .btn.localizacao.neutral, .feeling-menu .btn.localizacao.neutral, .feeling-icon.localizacao.neutral, .mec-icon.localizacao.neutral {
  background-color: #2980b9;
  background-position: -66px -64px;
}
.mec-menu .btn.localizacao.bad, .feeling-menu .btn.localizacao.bad, .feeling-icon.localizacao.bad, .mec-icon.localizacao.bad {
  background-color: #c0392b;
  background-position: -66px -64px;
}
.mec-menu .btn.atuacao-etica, .feeling-menu .btn.atuacao-etica, .feeling-icon.atuacao-etica, .mec-icon.atuacao-etica {
  background-position: -99px -0px;
}
.mec-menu .btn.atuacao-etica:hover, .mec-menu .btn.atuacao-etica:active, .mec-menu .btn.atuacao-etica.active, .feeling-menu .btn.atuacao-etica:hover, .feeling-menu .btn.atuacao-etica:active, .feeling-menu .btn.atuacao-etica.active, .feeling-icon.atuacao-etica:hover, .feeling-icon.atuacao-etica:active, .feeling-icon.atuacao-etica.active, .mec-icon.atuacao-etica:hover, .mec-icon.atuacao-etica:active, .mec-icon.atuacao-etica.active {
  background-position: -99px -32px;
}
.mec-menu .btn.atuacao-etica.good, .feeling-menu .btn.atuacao-etica.good, .feeling-icon.atuacao-etica.good, .mec-icon.atuacao-etica.good {
  background-color: #27ae60;
  background-position: -99px -64px;
}
.mec-menu .btn.atuacao-etica.neutral, .feeling-menu .btn.atuacao-etica.neutral, .feeling-icon.atuacao-etica.neutral, .mec-icon.atuacao-etica.neutral {
  background-color: #2980b9;
  background-position: -99px -64px;
}
.mec-menu .btn.atuacao-etica.bad, .feeling-menu .btn.atuacao-etica.bad, .feeling-icon.atuacao-etica.bad, .mec-icon.atuacao-etica.bad {
  background-color: #c0392b;
  background-position: -99px -64px;
}
.mec-menu .btn.corpo-docente, .feeling-menu .btn.corpo-docente, .feeling-icon.corpo-docente, .mec-icon.corpo-docente {
  background-position: -132px -0px;
}
.mec-menu .btn.corpo-docente:hover, .mec-menu .btn.corpo-docente:active, .mec-menu .btn.corpo-docente.active, .feeling-menu .btn.corpo-docente:hover, .feeling-menu .btn.corpo-docente:active, .feeling-menu .btn.corpo-docente.active, .feeling-icon.corpo-docente:hover, .feeling-icon.corpo-docente:active, .feeling-icon.corpo-docente.active, .mec-icon.corpo-docente:hover, .mec-icon.corpo-docente:active, .mec-icon.corpo-docente.active {
  background-position: -132px -32px;
}
.mec-menu .btn.corpo-docente.good, .feeling-menu .btn.corpo-docente.good, .feeling-icon.corpo-docente.good, .mec-icon.corpo-docente.good {
  background-color: #27ae60;
  background-position: -132px -64px;
}
.mec-menu .btn.corpo-docente.neutral, .feeling-menu .btn.corpo-docente.neutral, .feeling-icon.corpo-docente.neutral, .mec-icon.corpo-docente.neutral {
  background-color: #2980b9;
  background-position: -132px -64px;
}
.mec-menu .btn.corpo-docente.bad, .feeling-menu .btn.corpo-docente.bad, .feeling-icon.corpo-docente.bad, .mec-icon.corpo-docente.bad {
  background-color: #c0392b;
  background-position: -132px -64px;
}
.mec-menu .btn.credenciamento-no-mec, .feeling-menu .btn.credenciamento-no-mec, .feeling-icon.credenciamento-no-mec, .mec-icon.credenciamento-no-mec {
  background-position: -165px -0px;
}
.mec-menu .btn.credenciamento-no-mec:hover, .mec-menu .btn.credenciamento-no-mec:active, .mec-menu .btn.credenciamento-no-mec.active, .feeling-menu .btn.credenciamento-no-mec:hover, .feeling-menu .btn.credenciamento-no-mec:active, .feeling-menu .btn.credenciamento-no-mec.active, .feeling-icon.credenciamento-no-mec:hover, .feeling-icon.credenciamento-no-mec:active, .feeling-icon.credenciamento-no-mec.active, .mec-icon.credenciamento-no-mec:hover, .mec-icon.credenciamento-no-mec:active, .mec-icon.credenciamento-no-mec.active {
  background-position: -165px -32px;
}
.mec-menu .btn.credenciamento-no-mec.good, .feeling-menu .btn.credenciamento-no-mec.good, .feeling-icon.credenciamento-no-mec.good, .mec-icon.credenciamento-no-mec.good {
  background-color: #27ae60;
  background-position: -165px -64px;
}
.mec-menu .btn.credenciamento-no-mec.neutral, .feeling-menu .btn.credenciamento-no-mec.neutral, .feeling-icon.credenciamento-no-mec.neutral, .mec-icon.credenciamento-no-mec.neutral {
  background-color: #2980b9;
  background-position: -165px -64px;
}
.mec-menu .btn.credenciamento-no-mec.bad, .feeling-menu .btn.credenciamento-no-mec.bad, .feeling-icon.credenciamento-no-mec.bad, .mec-icon.credenciamento-no-mec.bad {
  background-color: #c0392b;
  background-position: -165px -64px;
}
.mec-menu .btn.preco, .feeling-menu .btn.preco, .feeling-icon.preco, .mec-icon.preco {
  background-position: -198px -0px;
}
.mec-menu .btn.preco:hover, .mec-menu .btn.preco:active, .mec-menu .btn.preco.active, .feeling-menu .btn.preco:hover, .feeling-menu .btn.preco:active, .feeling-menu .btn.preco.active, .feeling-icon.preco:hover, .feeling-icon.preco:active, .feeling-icon.preco.active, .mec-icon.preco:hover, .mec-icon.preco:active, .mec-icon.preco.active {
  background-position: -198px -32px;
}
.mec-menu .btn.preco.good, .feeling-menu .btn.preco.good, .feeling-icon.preco.good, .mec-icon.preco.good {
  background-color: #27ae60;
  background-position: -198px -64px;
}
.mec-menu .btn.preco.neutral, .feeling-menu .btn.preco.neutral, .feeling-icon.preco.neutral, .mec-icon.preco.neutral {
  background-color: #2980b9;
  background-position: -198px -64px;
}
.mec-menu .btn.preco.bad, .feeling-menu .btn.preco.bad, .feeling-icon.preco.bad, .mec-icon.preco.bad {
  background-color: #c0392b;
  background-position: -198px -64px;
}
.mec-menu .btn.qualidade-de-ensino, .feeling-menu .btn.qualidade-de-ensino, .feeling-icon.qualidade-de-ensino, .mec-icon.qualidade-de-ensino {
  background-position: -231px -0px;
}
.mec-menu .btn.qualidade-de-ensino:hover, .mec-menu .btn.qualidade-de-ensino:active, .mec-menu .btn.qualidade-de-ensino.active, .feeling-menu .btn.qualidade-de-ensino:hover, .feeling-menu .btn.qualidade-de-ensino:active, .feeling-menu .btn.qualidade-de-ensino.active, .feeling-icon.qualidade-de-ensino:hover, .feeling-icon.qualidade-de-ensino:active, .feeling-icon.qualidade-de-ensino.active, .mec-icon.qualidade-de-ensino:hover, .mec-icon.qualidade-de-ensino:active, .mec-icon.qualidade-de-ensino.active {
  background-position: -231px -32px;
}
.mec-menu .btn.qualidade-de-ensino.good, .feeling-menu .btn.qualidade-de-ensino.good, .feeling-icon.qualidade-de-ensino.good, .mec-icon.qualidade-de-ensino.good {
  background-color: #27ae60;
  background-position: -231px -64px;
}
.mec-menu .btn.qualidade-de-ensino.neutral, .feeling-menu .btn.qualidade-de-ensino.neutral, .feeling-icon.qualidade-de-ensino.neutral, .mec-icon.qualidade-de-ensino.neutral {
  background-color: #2980b9;
  background-position: -231px -64px;
}
.mec-menu .btn.qualidade-de-ensino.bad, .feeling-menu .btn.qualidade-de-ensino.bad, .feeling-icon.qualidade-de-ensino.bad, .mec-icon.qualidade-de-ensino.bad {
  background-color: #c0392b;
  background-position: -231px -64px;
}
.mec-menu .btn.infraestrutura, .feeling-menu .btn.infraestrutura, .feeling-icon.infraestrutura, .mec-icon.infraestrutura {
  background-position: -264px -0px;
}
.mec-menu .btn.infraestrutura:hover, .mec-menu .btn.infraestrutura:active, .mec-menu .btn.infraestrutura.active, .feeling-menu .btn.infraestrutura:hover, .feeling-menu .btn.infraestrutura:active, .feeling-menu .btn.infraestrutura.active, .feeling-icon.infraestrutura:hover, .feeling-icon.infraestrutura:active, .feeling-icon.infraestrutura.active, .mec-icon.infraestrutura:hover, .mec-icon.infraestrutura:active, .mec-icon.infraestrutura.active {
  background-position: -264px -32px;
}
.mec-menu .btn.infraestrutura.good, .feeling-menu .btn.infraestrutura.good, .feeling-icon.infraestrutura.good, .mec-icon.infraestrutura.good {
  background-color: #27ae60;
  background-position: -264px -64px;
}
.mec-menu .btn.infraestrutura.neutral, .feeling-menu .btn.infraestrutura.neutral, .feeling-icon.infraestrutura.neutral, .mec-icon.infraestrutura.neutral {
  background-color: #2980b9;
  background-position: -264px -64px;
}
.mec-menu .btn.infraestrutura.bad, .feeling-menu .btn.infraestrutura.bad, .feeling-icon.infraestrutura.bad, .mec-icon.infraestrutura.bad {
  background-color: #c0392b;
  background-position: -264px -64px;
}
.mec-menu .btn.relacionamento, .feeling-menu .btn.relacionamento, .feeling-icon.relacionamento, .mec-icon.relacionamento {
  background-position: -297px -0px;
}
.mec-menu .btn.relacionamento:hover, .mec-menu .btn.relacionamento:active, .mec-menu .btn.relacionamento.active, .feeling-menu .btn.relacionamento:hover, .feeling-menu .btn.relacionamento:active, .feeling-menu .btn.relacionamento.active, .feeling-icon.relacionamento:hover, .feeling-icon.relacionamento:active, .feeling-icon.relacionamento.active, .mec-icon.relacionamento:hover, .mec-icon.relacionamento:active, .mec-icon.relacionamento.active {
  background-position: -297px -32px;
}
.mec-menu .btn.relacionamento.good, .feeling-menu .btn.relacionamento.good, .feeling-icon.relacionamento.good, .mec-icon.relacionamento.good {
  background-color: #27ae60;
  background-position: -297px -64px;
}
.mec-menu .btn.relacionamento.neutral, .feeling-menu .btn.relacionamento.neutral, .feeling-icon.relacionamento.neutral, .mec-icon.relacionamento.neutral {
  background-color: #2980b9;
  background-position: -297px -64px;
}
.mec-menu .btn.relacionamento.bad, .feeling-menu .btn.relacionamento.bad, .feeling-icon.relacionamento.bad, .mec-icon.relacionamento.bad {
  background-color: #c0392b;
  background-position: -297px -64px;
}

/*btn*/
/*isolated icons*/
.feeling-icon, .mec-icon {
  display: inline-block;
  background-color: transparent;
  margin: -12px -7px;
}

a:hover .feeling-icon, a:hover .mec-icon, a .feeling-icon:hover, a .mec-icon:hover {
  background-color: transparent !important;
}

/* dropdown feeling-menu with reduced width */
.dropdown-menu.feeling-menu {
  min-width: 33px;
  padding: 1px;
  margin-left: -2px;
}
.dropdown-menu.feeling-menu li {
  margin-bottom: 1px;
}
.dropdown-menu.feeling-menu .btn.good:hover {
  background-color: #27ae60;
  background-position: -330px -64px;
}
.dropdown-menu.feeling-menu .btn.neutral:hover {
  background-color: #2980b9;
  background-position: -363px -64px;
}
.dropdown-menu.feeling-menu .btn.bad:hover {
  background-color: #c0392b;
  background-position: -396px -64px;
}

/* TAGS DROPDOWN */
.tags-menu .dropdown-menu {
  background: white;
  width: 190px;
}
.tags-menu .dropdown-menu .form-control {
  height: 30px;
}
.tags-menu .dropdown-menu .auto {
  margin: 10px 0;
}
.tags-menu .dropdown-menu .form-group {
  padding: 0 5px;
  margin: 0;
}
.tags-menu .dropdown-menu .checkbox {
  background: #e9eaeb;
  cursor: pointer;
  display: block;
  margin: 1px !important;
  padding: 5px;
  font-size: .9em;
}
.tags-menu .dropdown-menu .checkbox:hover {
  background: #f6f7f7;
}
.tags-menu .dropdown-menu .checkbox label {
  display: block;
}

/*tags-dropdown*/
/* RIBBON */
.ribbon {
  background-color: #aeb1b4;
  display: inline-block;
  padding: 6px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  /**/
}
.ribbon:hover {
  color: white;
}
.ribbon:before, .ribbon:after {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
}
.ribbon:before {
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  border-right: 10px solid #aeb1b4;
  left: -10px;
  top: 0px;
}
.ribbon:after {
  border-top: 5px solid transparent;
  border-left: 5px solid #aeb1b4;
  right: 0;
  top: -5px;
}
.ribbon.aberto, .ribbon.aguardando, .ribbon.fechado {
  background-color: #e6e6e6;
  /* CORES STATUS */
}
.ribbon.aberto:before, .ribbon.aguardando:before, .ribbon.fechado:before {
  border-right: 10px solid #e6e6e6;
}
.ribbon.aberto:after, .ribbon.aguardando:after, .ribbon.fechado:after {
  border-left: 5px solid #e6e6e6;
}
.ribbon.aberto:hover, .ribbon.aguardando:hover, .ribbon.fechado:hover {
  background: white;
}
.ribbon.aberto:hover:before, .ribbon.aguardando:hover:before, .ribbon.fechado:hover:before {
  border-right: 10px solid white;
}
.ribbon.aberto:hover:after, .ribbon.aguardando:hover:after, .ribbon.fechado:hover:after {
  border-left: 5px solid white;
}
.ribbon.aberto.aberto, .ribbon.aguardando.aberto, .ribbon.fechado.aberto {
  color: #d35400;
}
.ribbon.aberto.aberto:hover, .ribbon.aguardando.aberto:hover, .ribbon.fechado.aberto:hover {
  background: #fcfcfc;
}
.ribbon.aberto.aguardando, .ribbon.aguardando.aguardando, .ribbon.fechado.aguardando {
  color: #e67e22;
}
.ribbon.aberto.aguardando:hover, .ribbon.aguardando.aguardando:hover, .ribbon.fechado.aguardando:hover {
  background: #fcfcfc;
}
.ribbon.aberto.fechado, .ribbon.aguardando.fechado, .ribbon.fechado.fechado {
  color: #f39c12;
}
.ribbon.aberto.fechado:hover, .ribbon.aguardando.fechado:hover, .ribbon.fechado.fechado:hover {
  background: #fcfcfc;
}

/*ribbon*/
/* NAVBAR TOPO */
#navigation {
  position: relative;
}
#navigation .navbar-brand {
  background: url(../img/planeta-y-logo.png) no-repeat center;
  width: 120px;
  height: 26px;
  text-indent: -99999px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 -60px;
  outline: none;
}
#navigation .nav-img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

/* CABEÇALHO*/
#header {
  background-color: #95a5a6;
  margin: -20px 0 40px;
  padding: 30px 0 0;
}

/* CITAÇÃO */
.quote {
  margin: 0 0 30px 0;
  border: 3px solid transparent;
  /*quote-content*/
  /*footer*/
  /* citação pequena */
}
.quote.selected {
  border-color: #c9cbcc;
}
.quote.selected .quote-content {
  background-color: #f0f1f1;
}
.quote.selected footer {
  background-color: #fdfdfe;
}
.quote.selected .accordion-hidden {
  background-color: white;
}
.quote .quote-content {
  position: relative;
  background-color: white;
  /*sidebar*/
}
.quote .quote-content .user-img {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
}
.quote .quote-content .user-img img {
  width: 100%;
}
.quote .quote-content .quote-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
}
.quote .quote-content .quote-checkbox label {
  padding: 50px;
  display: block;
}
.quote .quote-content .quote-checkbox input {
  margin: -45px;
}
.quote .quote-content .quote-data {
  font-size: 14px;
  float: left;
  width: 580px;
  padding: 0 10px;
}
.quote .quote-content .quote-data h5 {
  margin: 6px 0;
}
.quote .quote-content .quote-data h5 .user-name {
  font-weight: bold;
}
.quote .quote-content .quote-data p {
  margin-bottom: 15px;
}
.quote .quote-content .quote-data .quote-txt {
  line-height: 1.3em;
}
.quote .quote-content .sidebar {
  display: block;
  float: right;
  position: relative;
  top: -5px;
  right: -5px;
  width: 240px;
  padding-left: 10px;
}
.quote .quote-content .sidebar .social {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.quote .quote-content .sidebar .status-bar {
  height: 32px;
  float: left;
}
.quote .quote-content .sidebar .status-bar .dropdown-menu li a {
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
}
.quote .quote-content .sidebar .status-bar .dropdown-menu li a.aberto {
  color: #d35400;
}
.quote .quote-content .sidebar .status-bar .dropdown-menu li a.aguardando {
  color: #e67e22;
}
.quote .quote-content .sidebar .status-bar .dropdown-menu li a.fechado {
  color: #f39c12;
}
.quote .quote-content .sidebar .status-bar .dropdown-menu li:last-child a {
  text-transform: none;
  font-weight: normal;
  font-size: 0.9em;
}
.quote .quote-content .sidebar .status-bar .dropdown-menu li.active a {
  background: #ebebeb;
}
.quote .quote-content .sidebar .status-bar .status-btn {
  position: relative;
  right: -180px;
  width: 18px;
  outline: none;
  -webkit-transition: width .4s ease-in-out, right .4s ease-in-out;
  -moz-transition: width .4s ease-in-out, right .4s ease-in-out;
  -o-transition: width .4s ease-in-out, right .4s ease-in-out;
  transition: width .4s ease-in-out, right .4s ease-in-out;
  /*&:active, &:hover, &:link, &:visited, &:focus {color: #FFFFFF;}*/
}
.quote .quote-content .sidebar .status-bar .status-btn span {
  overflow: hidden;
  width: 100%;
  display: block;
  text-indent: 8px;
}
.quote .quote-content .sidebar .status-bar .status-btn:hover {
  width: 198px;
  right: 0;
  text-indent: 0;
}
.quote .quote-content .sidebar .status-bar .status-btn.atendimento {
  width: 198px;
  right: 0;
  text-indent: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.quote .quote-content .sidebar .status-bar .status-btn:after {
  display: none;
}
.quote .quote-content .sidebar .social, .quote .quote-content .sidebar .tags-btn {
  float: right;
  width: 32px;
  max-height: 32px;
  overflow: hidden;
  position: relative;
}
.quote .quote-content .sidebar .tags {
  float: left;
  width: 198px;
  background: #e3e4e5;
  display: block;
  height: 47px;
  margin: 7px 0 0 0;
  padding: 2px 5px;
  overflow: auto;
}
.quote .quote-content .sidebar .tags p {
  line-height: 1.4em;
  margin: 0;
}
.quote .quote-content .sidebar .tags p .badge {
  font-size: .7em;
  margin-right: 2px;
  padding: 3px 0px 3px 7px;
  -moz-transition: padding 0.1s linear;
  -o-transition: padding 0.1s linear;
  -webkit-transition: padding 0.1s linear;
  -ms-transition: padding 0.1s linear;
  transition: padding 0.1s linear;
}
.quote .quote-content .sidebar .tags p .badge .remove-tag {
  visibility: hidden;
  color: #d9d9d9;
  margin: 0 -2px;
  cursor: pointer;
}
.quote .quote-content .sidebar .tags p .badge:hover {
  padding-right: 7px;
}
.quote .quote-content .sidebar .tags p .badge:hover .remove-tag {
  visibility: visible;
  padding-left: 2px;
  color: white;
  margin: 0;
}
.quote .quote-content .sidebar .tags-menu {
  margin: 7px 0 0 0;
  float: left;
}
.quote .quote-content .sidebar .tags-menu .tags-btn {
  background-color: #e3e4e5;
  text-align: center;
  color: #999999;
  padding: 6px 9px;
}
.quote .quote-content .sidebar .tags-menu .tags-btn:hover {
  background-color: #f0f1f1;
}
.quote .quote-content .sidebar .tags-menu .auto {
  max-height: 150px;
}
.quote footer {
  background-color: #f3f3f4;
  /*MENU DO MEC*/
  /*mec-menu*/
}
.quote footer .mec-menu {
  margin: 0 66px;
}
.quote footer .feeling-menu .btn {
  width: 34px;
}
.quote footer .btn {
  text-transform: uppercase;
  font-weight: normal;
  border: none !important;
  color: #7e7e7e;
  height: 32px;
  margin: 0;
}
.quote .accordion-hidden {
  background-color: white;
  padding: 0px 20px 20px 100px;
  max-height: 300px;
  overflow: auto;
}
.quote.quote-small {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  /*quote-content*/
  /*footer*/
}
.quote.quote-small:last-child {
  border-bottom: none;
}
.quote.quote-small .quote-content {
  background-color: #f7f7f7;
}
.quote.quote-small .quote-content .user-img {
  width: 80px;
  height: 80px;
}
.quote.quote-small .quote-content .user-img img {
  width: 80px;
  height: 80px;
}
.quote.quote-small .quote-content .quote-data {
  width: 670px;
}
.quote.quote-small .quote-content .sidebar {
  width: 32px;
}
.quote.quote-small footer .mec-menu {
  margin: 0 52px;
}
.quote.quote-small footer .quote-actions {
  float: right;
}

/* citação */
/*
** PARTIALS
** partial são as suas páginas
*/
/* CITAÇÕES */
/*botão de atualizar*/
.reload-box {
  padding: 20px 0;
}
.reload-box .reload-btn {
  display: block;
  color: #333333;
  font-size: .85em;
  /*loading*/
  /*loading*/
}
.reload-box .reload-btn:hover {
  color: #666666;
}
.reload-box .reload-btn.loading {
  content: "atualizando...";
}
.reload-box .reload-btn.loading .fa.fa-refresh {
  animation: anim-rotate 2s infinite linear;
}
.reload-box .reload-btn.done .fa.fa-refresh {
  animation: none;
}

/*reload-box*/
/*actions bar*/
#actions-bar .checkbox {
  margin: 0;
}
#actions-bar .btn > .fa, #actions-bar .btn > .glyphicon {
  color: #999999;
}
#actions-bar .dropdown {
  margin: 0px;
}
#actions-bar .dropdown-menu a .mec-icon {
  margin-right: 0;
}
#actions-bar #mec-dropdown .help-block {
  font-size: .9em;
  padding: 0 10px;
}
#actions-bar #mec-dropdown .dropdown-menu {
  min-width: 220px;
}
#actions-bar #mec-dropdown .dropdown-menu .auto {
  max-height: 200px;
  margin: 10px 0;
}
#actions-bar #mec-dropdown .dropdown-menu li > a {
  color: #666666;
  margin: 1px;
  padding: 5px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral, #actions-bar #mec-dropdown .dropdown-menu li > a.bad {
  color: white;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.captacao, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.captacao, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.captacao {
  background-position: -0px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.empregabilidade, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.empregabilidade, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.empregabilidade {
  background-position: -33px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.localizacao, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.localizacao, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.localizacao {
  background-position: -66px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.atuacao-etica, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.atuacao-etica, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.atuacao-etica {
  background-position: -99px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.corpo-docente, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.corpo-docente, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.corpo-docente {
  background-position: -132px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.credenciamento-no-mec, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.credenciamento-no-mec, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.credenciamento-no-mec {
  background-position: -165px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.preco, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.preco, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.preco {
  background-position: -198px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.qualidade-de-ensino, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.qualidade-de-ensino, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.qualidade-de-ensino {
  background-position: -231px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.infraestrutura, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.infraestrutura, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.infraestrutura {
  background-position: -264 -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good .mec-icon.relacionamento, #actions-bar #mec-dropdown .dropdown-menu li > a.neutral .mec-icon.relacionamento, #actions-bar #mec-dropdown .dropdown-menu li > a.bad .mec-icon.relacionamento {
  background-position: -297px -64px;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.good {
  background-color: #27ae60;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.neutral {
  background-color: #2980b9;
}
#actions-bar #mec-dropdown .dropdown-menu li > a.bad {
  background-color: #c0392b;
}

#actions-bar > .btn-group {
  margin-right: 15px;
}

#actions-bar > .btn-group > .btn, #actions-bar > .btn-group > .dropdown > .btn {
  text-transform: uppercase;
  padding: 6px 10px;
  border: none;
  margin-left: 1px;
}
