/*
** GENERIC
** Todos os componentes reutilizaveis
*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* -------------------------------------------------------------

ANIMATIONS

-------------------------------------------------------------  */
/* ROTATE */
@keyframes anim-rotate {
  /* line 254, ../scss/generic/_mixin.scss */
  0% {
    transform: rotate(0);
  }

  /* line 257, ../scss/generic/_mixin.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* example: animation: anim-rotate 2s infinite linear; */
/*
** DEFAULT
** Onde você coloca todas as suas variaveis
*/
/* VARIAVEIS */
/* Cores */
/* STATUS */
/* FEELING */
/* TYPOGRAPHY*/
/* QUOTE BUTTONS */
/* BOXES */
/* SOCIAL */
/* HEADER */
/* THE CSS */
/*typography*/
/* line 49, ../scss/_default.scss */
body, p {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

/* line 50, ../scss/_default.scss */
.light {
  color: #666666;
}

/* line 51, ../scss/_default.scss */
.lighter {
  color: #999999;
}

/* line 52, ../scss/_default.scss */
.badge {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 53, ../scss/_default.scss */
label {
  font-weight: normal;
}

/* line 54, ../scss/_default.scss */
a:hover {
  text-decoration: none;
}

/*HELPERS*/
/* line 57, ../scss/_default.scss */
.auto {
  overflow: auto;
}

/* line 58, ../scss/_default.scss */
.accordion-hidden {
  display: none;
}

/*Media queries breakpoints*/
/* line 61, ../scss/_default.scss */
.container {
  width: 950px !important;
  padding: 0;
}

/* COMPONENTES */
/* SOCIAL ICONS */
/* line 68, ../scss/_default.scss */
.btn.social {
  color: #FFFFFF;
  text-align: center;
  height: 32px;
  width: 32px;
  padding: 2px;
  font-size: 18px;
}
/* line 77, ../scss/_default.scss */
.btn.facebook {
  background: #3b5998;
}
/* line 79, ../scss/_default.scss */
.btn.facebook:hover {
  background: #4c70ba;
}
/* line 81, ../scss/_default.scss */
.btn.twitter {
  background: #00aced;
}
/* line 83, ../scss/_default.scss */
.btn.twitter:hover {
  background: #21c2ff;
}
/* line 85, ../scss/_default.scss */
.btn.youtube {
  background: #bb0000;
}
/* line 87, ../scss/_default.scss */
.btn.youtube:hover {
  background: #ee0000;
}
/* line 89, ../scss/_default.scss */
.btn.gplus {
  background: #dd4b39;
}
/* line 91, ../scss/_default.scss */
.btn.gplus:hover {
  background: #e47365;
}
/* line 93, ../scss/_default.scss */
.btn.instagram {
  background: #517fa4;
}
/* line 95, ../scss/_default.scss */
.btn.instagram:hover {
  background: #7098b8;
}
/* line 97, ../scss/_default.scss */
.btn.flickr {
  background: #ff0084;
}
/* line 99, ../scss/_default.scss */
.btn.flickr:hover {
  background: #ff339d;
}
/* line 101, ../scss/_default.scss */
.btn.linkedin {
  background: #007bb6;
}
/* line 103, ../scss/_default.scss */
.btn.linkedin:hover {
  background: #009de9;
}
/* line 105, ../scss/_default.scss */
.btn.blogger {
  background: #ff6600;
}
/* line 107, ../scss/_default.scss */
.btn.blogger:hover {
  background: #ff8533;
}
/* line 109, ../scss/_default.scss */
.btn.foursquare {
  background: #0072b1;
}
/* line 111, ../scss/_default.scss */
.btn.foursquare:hover {
  background: #0093e4;
}
/* line 113, ../scss/_default.scss */
.btn.reclame-aqui {
  background: #008751;
}
/* line 115, ../scss/_default.scss */
.btn.reclame-aqui:hover {
  background: #00a160;
}
/* line 116, ../scss/_default.scss */
.btn.reclame-aqui .reclame-aqui-icon {
  width: 70%;
  padding: 5% 0 15%;
}

/* BOTÕES DOS MENUS DO MEC E DE SENTIMENTO */
/* line 121, ../scss/_default.scss */
.mec-menu .btn, .feeling-menu .btn {
  background-image: url("../img/mec-feel-sprite.png");
  background-color: #f1f1f1;
  border: none !important;
  height: 32px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -999px;
  width: 33px;
  /* SENTIMENTO */
  /* INDICADORES MEC */
  /*captacao*/
  /*empregabilidade*/
  /*localizacao*/
  /*atuacao-etica*/
  /*corpo-docente*/
  /*credenciamento-no-mec*/
  /*preco*/
  /*qualidade-de-ensino*/
  /*infraestrutura*/
  /*relacionamento*/
}
/* line 132, ../scss/_default.scss */
.mec-menu .btn:hover, .feeling-menu .btn:hover {
  border: none !important;
}
/* line 137, ../scss/_default.scss */
.mec-menu .btn.good, .feeling-menu .btn.good {
  background-position: -330px 0px;
}
/* line 139, ../scss/_default.scss */
.mec-menu .btn.good:hover, .mec-menu .btn.good:active, .feeling-menu .btn.good:hover, .feeling-menu .btn.good:active {
  background-position: -330px -32px;
  background-color: #fefefe;
}
/* line 140, ../scss/_default.scss */
.mec-menu .btn.good.active, .feeling-menu .btn.good.active {
  background-position: -330px -64px;
  background-color: #27ae60;
}
/* line 142, ../scss/_default.scss */
.mec-menu .btn.neutral, .feeling-menu .btn.neutral {
  background-position: -363px 0px;
}
/* line 144, ../scss/_default.scss */
.mec-menu .btn.neutral:hover, .mec-menu .btn.neutral:active, .feeling-menu .btn.neutral:hover, .feeling-menu .btn.neutral:active {
  background-position: -363px -32px;
  background-color: #fefefe;
}
/* line 145, ../scss/_default.scss */
.mec-menu .btn.neutral.active, .feeling-menu .btn.neutral.active {
  background-position: -363px -64px;
  background-color: #2980b9;
}
/* line 147, ../scss/_default.scss */
.mec-menu .btn.bad, .feeling-menu .btn.bad {
  background-position: -396px 0px;
}
/* line 149, ../scss/_default.scss */
.mec-menu .btn.bad:hover, .mec-menu .btn.bad:active, .feeling-menu .btn.bad:hover, .feeling-menu .btn.bad:active {
  background-position: -396px -32px;
  background-color: #fefefe;
}
/* line 150, ../scss/_default.scss */
.mec-menu .btn.bad.active, .feeling-menu .btn.bad.active {
  background-position: -396px -64px;
  background-color: #c0392b;
}
/* line 152, ../scss/_default.scss */
.mec-menu .btn.remove, .feeling-menu .btn.remove {
  background-position: -363px -96px;
}
/* line 154, ../scss/_default.scss */
.mec-menu .btn.remove:hover, .mec-menu .btn.remove:active, .feeling-menu .btn.remove:hover, .feeling-menu .btn.remove:active {
  background-position: -396px -96px;
  background-color: #fefefe;
}
/* line 158, ../scss/_default.scss */
.mec-menu .btn.captacao, .feeling-menu .btn.captacao {
  background-position: 0px 0px;
}
/* line 160, ../scss/_default.scss */
.mec-menu .btn.captacao:hover, .mec-menu .btn.captacao:active, .mec-menu .btn.captacao.active, .feeling-menu .btn.captacao:hover, .feeling-menu .btn.captacao:active, .feeling-menu .btn.captacao.active {
  background-position: 0px -32px;
  background-color: #fefefe;
}
/* line 161, ../scss/_default.scss */
.mec-menu .btn.captacao.good, .feeling-menu .btn.captacao.good {
  background-color: #27ae60;
  background-position: 0px -64px;
}
/* line 162, ../scss/_default.scss */
.mec-menu .btn.captacao.neutral, .feeling-menu .btn.captacao.neutral {
  background-color: #2980b9;
  background-position: 0px -64px;
}
/* line 163, ../scss/_default.scss */
.mec-menu .btn.captacao.bad, .feeling-menu .btn.captacao.bad {
  background-color: #c0392b;
  background-position: 0px -64px;
}
/* line 166, ../scss/_default.scss */
.mec-menu .btn.empregabilidade, .feeling-menu .btn.empregabilidade {
  background-position: -33px 0px;
}
/* line 168, ../scss/_default.scss */
.mec-menu .btn.empregabilidade:hover, .mec-menu .btn.empregabilidade:active, .mec-menu .btn.empregabilidade.active, .feeling-menu .btn.empregabilidade:hover, .feeling-menu .btn.empregabilidade:active, .feeling-menu .btn.empregabilidade.active {
  background-position: -33px -32px;
  background-color: #fefefe;
}
/* line 169, ../scss/_default.scss */
.mec-menu .btn.empregabilidade.good, .feeling-menu .btn.empregabilidade.good {
  background-color: #27ae60;
  background-position: -33px -64px;
}
/* line 170, ../scss/_default.scss */
.mec-menu .btn.empregabilidade.neutral, .feeling-menu .btn.empregabilidade.neutral {
  background-color: #2980b9;
  background-position: -33px -64px;
}
/* line 171, ../scss/_default.scss */
.mec-menu .btn.empregabilidade.bad, .feeling-menu .btn.empregabilidade.bad {
  background-color: #c0392b;
  background-position: -33px -64px;
}
/* line 174, ../scss/_default.scss */
.mec-menu .btn.localizacao, .feeling-menu .btn.localizacao {
  background-position: -66px 0px;
}
/* line 176, ../scss/_default.scss */
.mec-menu .btn.localizacao:hover, .mec-menu .btn.localizacao:active, .mec-menu .btn.localizacao.active, .feeling-menu .btn.localizacao:hover, .feeling-menu .btn.localizacao:active, .feeling-menu .btn.localizacao.active {
  background-position: -66px -32px;
  background-color: #fefefe;
}
/* line 177, ../scss/_default.scss */
.mec-menu .btn.localizacao.good, .feeling-menu .btn.localizacao.good {
  background-color: #27ae60;
  background-position: -66px -64px;
}
/* line 178, ../scss/_default.scss */
.mec-menu .btn.localizacao.neutral, .feeling-menu .btn.localizacao.neutral {
  background-color: #2980b9;
  background-position: -66px -64px;
}
/* line 179, ../scss/_default.scss */
.mec-menu .btn.localizacao.bad, .feeling-menu .btn.localizacao.bad {
  background-color: #c0392b;
  background-position: -66px -64px;
}
/* line 182, ../scss/_default.scss */
.mec-menu .btn.atuacao-etica, .feeling-menu .btn.atuacao-etica {
  background-position: -99px 0px;
}
/* line 184, ../scss/_default.scss */
.mec-menu .btn.atuacao-etica:hover, .mec-menu .btn.atuacao-etica:active, .mec-menu .btn.atuacao-etica.active, .feeling-menu .btn.atuacao-etica:hover, .feeling-menu .btn.atuacao-etica:active, .feeling-menu .btn.atuacao-etica.active {
  background-position: -99px -32px;
  background-color: #fefefe;
}
/* line 185, ../scss/_default.scss */
.mec-menu .btn.atuacao-etica.good, .feeling-menu .btn.atuacao-etica.good {
  background-color: #27ae60;
  background-position: -99px -64px;
}
/* line 186, ../scss/_default.scss */
.mec-menu .btn.atuacao-etica.neutral, .feeling-menu .btn.atuacao-etica.neutral {
  background-color: #2980b9;
  background-position: -99px -64px;
}
/* line 187, ../scss/_default.scss */
.mec-menu .btn.atuacao-etica.bad, .feeling-menu .btn.atuacao-etica.bad {
  background-color: #c0392b;
  background-position: -99px -64px;
}
/* line 190, ../scss/_default.scss */
.mec-menu .btn.corpo-docente, .feeling-menu .btn.corpo-docente {
  background-position: -132px 0px;
}
/* line 192, ../scss/_default.scss */
.mec-menu .btn.corpo-docente:hover, .mec-menu .btn.corpo-docente:active, .mec-menu .btn.corpo-docente.active, .feeling-menu .btn.corpo-docente:hover, .feeling-menu .btn.corpo-docente:active, .feeling-menu .btn.corpo-docente.active {
  background-position: -132px -32px;
  background-color: #fefefe;
}
/* line 193, ../scss/_default.scss */
.mec-menu .btn.corpo-docente.good, .feeling-menu .btn.corpo-docente.good {
  background-color: #27ae60;
  background-position: -132px -64px;
}
/* line 194, ../scss/_default.scss */
.mec-menu .btn.corpo-docente.neutral, .feeling-menu .btn.corpo-docente.neutral {
  background-color: #2980b9;
  background-position: -132px -64px;
}
/* line 195, ../scss/_default.scss */
.mec-menu .btn.corpo-docente.bad, .feeling-menu .btn.corpo-docente.bad {
  background-color: #c0392b;
  background-position: -132px -64px;
}
/* line 198, ../scss/_default.scss */
.mec-menu .btn.credenciamento-no-mec, .feeling-menu .btn.credenciamento-no-mec {
  background-position: -165px 0px;
}
/* line 200, ../scss/_default.scss */
.mec-menu .btn.credenciamento-no-mec:hover, .mec-menu .btn.credenciamento-no-mec:active, .mec-menu .btn.credenciamento-no-mec.active, .feeling-menu .btn.credenciamento-no-mec:hover, .feeling-menu .btn.credenciamento-no-mec:active, .feeling-menu .btn.credenciamento-no-mec.active {
  background-position: -165px -32px;
  background-color: #fefefe;
}
/* line 201, ../scss/_default.scss */
.mec-menu .btn.credenciamento-no-mec.good, .feeling-menu .btn.credenciamento-no-mec.good {
  background-color: #27ae60;
  background-position: -165px -64px;
}
/* line 202, ../scss/_default.scss */
.mec-menu .btn.credenciamento-no-mec.neutral, .feeling-menu .btn.credenciamento-no-mec.neutral {
  background-color: #2980b9;
  background-position: -165px -64px;
}
/* line 203, ../scss/_default.scss */
.mec-menu .btn.credenciamento-no-mec.bad, .feeling-menu .btn.credenciamento-no-mec.bad {
  background-color: #c0392b;
  background-position: -165px -64px;
}
/* line 206, ../scss/_default.scss */
.mec-menu .btn.preco, .feeling-menu .btn.preco {
  background-position: -198px 0px;
}
/* line 208, ../scss/_default.scss */
.mec-menu .btn.preco:hover, .mec-menu .btn.preco:active, .mec-menu .btn.preco.active, .feeling-menu .btn.preco:hover, .feeling-menu .btn.preco:active, .feeling-menu .btn.preco.active {
  background-position: -198px -32px;
  background-color: #fefefe;
}
/* line 209, ../scss/_default.scss */
.mec-menu .btn.preco.good, .feeling-menu .btn.preco.good {
  background-color: #27ae60;
  background-position: -198px -64px;
}
/* line 210, ../scss/_default.scss */
.mec-menu .btn.preco.neutral, .feeling-menu .btn.preco.neutral {
  background-color: #2980b9;
  background-position: -198px -64px;
}
/* line 211, ../scss/_default.scss */
.mec-menu .btn.preco.bad, .feeling-menu .btn.preco.bad {
  background-color: #c0392b;
  background-position: -198px -64px;
}
/* line 214, ../scss/_default.scss */
.mec-menu .btn.qualidade-de-ensino, .feeling-menu .btn.qualidade-de-ensino {
  background-position: -231px 0px;
}
/* line 216, ../scss/_default.scss */
.mec-menu .btn.qualidade-de-ensino:hover, .mec-menu .btn.qualidade-de-ensino:active, .mec-menu .btn.qualidade-de-ensino.active, .feeling-menu .btn.qualidade-de-ensino:hover, .feeling-menu .btn.qualidade-de-ensino:active, .feeling-menu .btn.qualidade-de-ensino.active {
  background-position: -231px -32px;
  background-color: #fefefe;
}
/* line 217, ../scss/_default.scss */
.mec-menu .btn.qualidade-de-ensino.good, .feeling-menu .btn.qualidade-de-ensino.good {
  background-color: #27ae60;
  background-position: -231px -64px;
}
/* line 218, ../scss/_default.scss */
.mec-menu .btn.qualidade-de-ensino.neutral, .feeling-menu .btn.qualidade-de-ensino.neutral {
  background-color: #2980b9;
  background-position: -231px -64px;
}
/* line 219, ../scss/_default.scss */
.mec-menu .btn.qualidade-de-ensino.bad, .feeling-menu .btn.qualidade-de-ensino.bad {
  background-color: #c0392b;
  background-position: -231px -64px;
}
/* line 222, ../scss/_default.scss */
.mec-menu .btn.infraestrutura, .feeling-menu .btn.infraestrutura {
  background-position: -264px 0px;
}
/* line 224, ../scss/_default.scss */
.mec-menu .btn.infraestrutura:hover, .mec-menu .btn.infraestrutura:active, .mec-menu .btn.infraestrutura.active, .feeling-menu .btn.infraestrutura:hover, .feeling-menu .btn.infraestrutura:active, .feeling-menu .btn.infraestrutura.active {
  background-position: -264px -32px;
  background-color: #fefefe;
}
/* line 225, ../scss/_default.scss */
.mec-menu .btn.infraestrutura.good, .feeling-menu .btn.infraestrutura.good {
  background-color: #27ae60;
  background-position: -264px -64px;
}
/* line 226, ../scss/_default.scss */
.mec-menu .btn.infraestrutura.neutral, .feeling-menu .btn.infraestrutura.neutral {
  background-color: #2980b9;
  background-position: -264px -64px;
}
/* line 227, ../scss/_default.scss */
.mec-menu .btn.infraestrutura.bad, .feeling-menu .btn.infraestrutura.bad {
  background-color: #c0392b;
  background-position: -264px -64px;
}
/* line 230, ../scss/_default.scss */
.mec-menu .btn.relacionamento, .feeling-menu .btn.relacionamento {
  background-position: -297px 0px;
}
/* line 232, ../scss/_default.scss */
.mec-menu .btn.relacionamento:hover, .mec-menu .btn.relacionamento:active, .mec-menu .btn.relacionamento.active, .feeling-menu .btn.relacionamento:hover, .feeling-menu .btn.relacionamento:active, .feeling-menu .btn.relacionamento.active {
  background-position: -297px -32px;
  background-color: #fefefe;
}
/* line 233, ../scss/_default.scss */
.mec-menu .btn.relacionamento.good, .feeling-menu .btn.relacionamento.good {
  background-color: #27ae60;
  background-position: -297px -64px;
}
/* line 234, ../scss/_default.scss */
.mec-menu .btn.relacionamento.neutral, .feeling-menu .btn.relacionamento.neutral {
  background-color: #2980b9;
  background-position: -297px -64px;
}
/* line 235, ../scss/_default.scss */
.mec-menu .btn.relacionamento.bad, .feeling-menu .btn.relacionamento.bad {
  background-color: #c0392b;
  background-position: -297px -64px;
}

/*btn*/
/* line 241, ../scss/_default.scss */
.dropdown-menu.feeling-menu .btn.good:hover {
  background-color: #27ae60;
  background-position: -330px -64px;
}
/* line 244, ../scss/_default.scss */
.dropdown-menu.feeling-menu .btn.neutral:hover {
  background-color: #2980b9;
  background-position: -363px -64px;
}
/* line 247, ../scss/_default.scss */
.dropdown-menu.feeling-menu .btn.bad:hover {
  background-color: #c0392b;
  background-position: -396px -64px;
}

/* TAGS DROPDOWN */
/* line 254, ../scss/_default.scss */
.tags-menu .dropdown-menu {
  background: white;
  width: 190px;
}
/* line 258, ../scss/_default.scss */
.tags-menu .dropdown-menu .auto {
  margin: 10px 0;
}
/* line 261, ../scss/_default.scss */
.tags-menu .dropdown-menu .form-group {
  padding: 0 5px;
  margin: 0;
}
/* line 265, ../scss/_default.scss */
.tags-menu .dropdown-menu .checkbox {
  background: #f1f1f1;
  cursor: pointer;
  display: block;
  margin: 1px;
  padding: 5px;
  font-size: .9em;
}
/* line 272, ../scss/_default.scss */
.tags-menu .dropdown-menu .checkbox:hover {
  background: #fefefe;
}
/* line 274, ../scss/_default.scss */
.tags-menu .dropdown-menu .checkbox label {
  display: block;
}

/*tags-dropdown*/
/*MENU DO MEC*/
/* line 282, ../scss/_default.scss */
.mec-menu {
  margin: 0 66px;
}
/* line 285, ../scss/_default.scss */
.mec-menu .dropdown-menu.feeling-menu {
  min-width: 33px;
  padding: 1px;
  margin-left: -2px;
}
/* line 289, ../scss/_default.scss */
.mec-menu .dropdown-menu.feeling-menu li {
  margin-bottom: 1px;
}

/*mec-menu*/
/* RIBBON */
/* line 298, ../scss/_default.scss */
.ribbon {
  background-color: #bdc3c7;
  display: inline-block;
  padding: 6px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  /* CORES STATUS */
}
/* line 306, ../scss/_default.scss */
.ribbon:before, .ribbon:after {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
}
/* line 312, ../scss/_default.scss */
.ribbon:before {
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  border-right: 10px solid #bdc3c7;
  left: -10px;
  top: 0px;
}
/* line 319, ../scss/_default.scss */
.ribbon:after {
  border-top: 5px solid transparent;
  border-left: 5px solid #bdc3c7;
  right: 0;
  top: -5px;
}
/* line 327, ../scss/_default.scss */
.ribbon.aberta {
  background-color: #d35400;
}
/* line 329, ../scss/_default.scss */
.ribbon.aberta:before {
  border-right: 10px solid #d35400;
}
/* line 330, ../scss/_default.scss */
.ribbon.aberta:after {
  border-left: 5px solid #ec5e00;
}
/* line 331, ../scss/_default.scss */
.ribbon.aberta:hover {
  background: #ec5e00;
  color: #FFFFFF;
}
/* line 333, ../scss/_default.scss */
.ribbon.aberta:hover:before {
  border-right: 10px solid #ec5e00;
}
/* line 334, ../scss/_default.scss */
.ribbon.aberta:hover:after {
  border-left: 5px solid #ec5e00;
}
/* line 337, ../scss/_default.scss */
.ribbon.aguardando {
  background-color: #e67e22;
}
/* line 339, ../scss/_default.scss */
.ribbon.aguardando:before {
  border-right: 10px solid #e67e22;
}
/* line 340, ../scss/_default.scss */
.ribbon.aguardando:after {
  border-left: 5px solid #e98b39;
}
/* line 341, ../scss/_default.scss */
.ribbon.aguardando:hover {
  background: #e98b39;
  color: #FFFFFF;
}
/* line 343, ../scss/_default.scss */
.ribbon.aguardando:hover:before {
  border-right: 10px solid #e98b39;
}
/* line 344, ../scss/_default.scss */
.ribbon.aguardando:hover:after {
  border-left: 5px solid #e98b39;
}
/* line 347, ../scss/_default.scss */
.ribbon.fechada {
  background-color: #f39c12;
}
/* line 349, ../scss/_default.scss */
.ribbon.fechada:before {
  border-right: 10px solid #f39c12;
}
/* line 350, ../scss/_default.scss */
.ribbon.fechada:after {
  border-left: 5px solid #f4a62a;
}
/* line 351, ../scss/_default.scss */
.ribbon.fechada:hover {
  background: #f4a62a;
  color: #FFFFFF;
}
/* line 353, ../scss/_default.scss */
.ribbon.fechada:hover:before {
  border-right: 10px solid #f4a62a;
}
/* line 354, ../scss/_default.scss */
.ribbon.fechada:hover:after {
  border-left: 5px solid #f4a62a;
}

/*ribbon*/
/* NAVBAR TOPO */
/* line 362, ../scss/_default.scss */
#navigation {
  position: relative;
}
/* line 365, ../scss/_default.scss */
#navigation .navbar-brand {
  background: url(../img/planeta-y-logo.png) no-repeat center;
  width: 120px;
  height: 26px;
  text-indent: -9999px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 -60px;
  outline: none;
}
/* line 377, ../scss/_default.scss */
#navigation .nav-img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

/* CABEÇALHO*/
/* line 386, ../scss/_default.scss */
#header {
  background-color: #95a5a6;
  margin: -20px 0 40px;
  padding: 30px 0 0;
}

/* CITAÇÃO */
/* line 394, ../scss/_default.scss */
.quote {
  margin: 0 0 40px 0;
  border: 3px solid transparent;
  /*quote-content*/
  /*footer*/
  /* citação pequena */
}
/* line 398, ../scss/_default.scss */
.quote.selected {
  border-color: #a1aab0;
}
/* line 400, ../scss/_default.scss */
.quote.selected .quote-content {
  background-color: #cbd0d3;
}
/* line 403, ../scss/_default.scss */
.quote.selected footer {
  background-color: #d9dcde;
}
/* line 404, ../scss/_default.scss */
.quote.selected .accordion-hidden {
  background-color: #e6e9ea;
}
/* line 408, ../scss/_default.scss */
.quote .quote-content {
  position: relative;
  background-color: white;
  /*sidebar*/
}
/* line 412, ../scss/_default.scss */
.quote .quote-content .user-img {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
}
/* line 417, ../scss/_default.scss */
.quote .quote-content .user-img img {
  width: 100%;
}
/* line 422, ../scss/_default.scss */
.quote .quote-content .quote-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
}
/* line 428, ../scss/_default.scss */
.quote .quote-content .quote-checkbox label {
  padding: 50px;
  display: block;
}
/* line 429, ../scss/_default.scss */
.quote .quote-content .quote-checkbox input {
  margin: -45px;
}
/* line 433, ../scss/_default.scss */
.quote .quote-content .quote-data {
  font-size: 14px;
  float: left;
  width: 580px;
  padding: 0 10px;
}
/* line 440, ../scss/_default.scss */
.quote .quote-content .quote-data h5 {
  margin: 6px 0;
}
/* line 443, ../scss/_default.scss */
.quote .quote-content .quote-data h5 .user-name {
  font-weight: bold;
}
/* line 448, ../scss/_default.scss */
.quote .quote-content .quote-data p {
  margin-bottom: 15px;
}
/* line 450, ../scss/_default.scss */
.quote .quote-content .quote-data .quote-txt {
  line-height: 1.3em;
}
/* line 455, ../scss/_default.scss */
.quote .quote-content .sidebar {
  display: block;
  float: right;
  position: relative;
  top: -5px;
  right: -5px;
  width: 230px;
}
/* line 463, ../scss/_default.scss */
.quote .quote-content .sidebar .status-bar {
  height: 32px;
  float: left;
}
/* line 468, ../scss/_default.scss */
.quote .quote-content .sidebar .status-bar .status-btn:active, .quote .quote-content .sidebar .status-bar .status-btn:hover, .quote .quote-content .sidebar .status-bar .status-btn:link, .quote .quote-content .sidebar .status-bar .status-btn:visited, .quote .quote-content .sidebar .status-bar .status-btn:focus {
  color: #FFFFFF;
}
/* line 471, ../scss/_default.scss */
.quote .quote-content .sidebar .status-bar .ribbon {
  width: 198px;
}
/* line 474, ../scss/_default.scss */
.quote .quote-content .sidebar .status-bar .ribbon:after {
  display: none;
}
/* line 479, ../scss/_default.scss */
.quote .quote-content .sidebar .social, .quote .quote-content .sidebar .tags-btn {
  float: left;
  width: 32px;
  max-height: 32px;
  overflow: hidden;
}
/* line 486, ../scss/_default.scss */
.quote .quote-content .sidebar .tags {
  float: left;
  width: 198px;
  background: #bdc3c7;
  display: block;
  height: 47px;
  margin: 7px 0 0 0;
  padding: 2px 5px;
  overflow: auto;
}
/* line 496, ../scss/_default.scss */
.quote .quote-content .sidebar .tags p {
  line-height: 1.4em;
  margin: 0;
}
/* line 499, ../scss/_default.scss */
.quote .quote-content .sidebar .tags p .badge {
  font-size: .7em;
  margin-right: 2px;
  padding: 3px 0px 3px 7px;
  -moz-transition: padding 0s linear;
  -o-transition: padding 0s linear;
  -webkit-transition: padding 0s linear;
  -ms-transition: padding 0s linear;
  transition: padding 0s linear;
}
/* line 505, ../scss/_default.scss */
.quote .quote-content .sidebar .tags p .badge .remove-tag {
  visibility: hidden;
  color: #d9d9d9;
  margin: 0 -2px;
  cursor: pointer;
}
/* line 511, ../scss/_default.scss */
.quote .quote-content .sidebar .tags p .badge:hover {
  padding-right: 7px;
}
/* line 513, ../scss/_default.scss */
.quote .quote-content .sidebar .tags p .badge:hover .remove-tag {
  visibility: visible;
  padding-left: 2px;
  color: white;
  margin: 0;
}
/* line 522, ../scss/_default.scss */
.quote .quote-content .sidebar .tags-menu {
  margin: 7px 0 0 0;
  float: left;
}
/* line 526, ../scss/_default.scss */
.quote .quote-content .sidebar .tags-menu .tags-btn {
  background-color: #bdc3c7;
  text-align: center;
  color: #FFFFFF;
  padding: 6px 9px;
}
/* line 531, ../scss/_default.scss */
.quote .quote-content .sidebar .tags-menu .tags-btn:hover {
  background-color: #cbd0d3;
}
/* line 534, ../scss/_default.scss */
.quote .quote-content .sidebar .tags-menu .auto {
  max-height: 150px;
}
/* line 540, ../scss/_default.scss */
.quote footer {
  background-color: #e4e6e8;
}
/* line 545, ../scss/_default.scss */
.quote footer .feeling-menu .btn {
  width: 34px;
}
/* line 549, ../scss/_default.scss */
.quote footer .btn {
  text-transform: uppercase;
  font-weight: normal;
  border: none !important;
  color: #7e7e7e;
  height: 32px;
  margin: 0;
}
/* line 557, ../scss/_default.scss */
.quote footer .btn:link, .quote footer .btn:visited {
  background-color: #f1f1f1;
  color: #7e7e7e;
}
/* line 558, ../scss/_default.scss */
.quote footer .btn:hover, .quote footer .btn:active, .quote footer .btn:focus {
  background-color: #fefefe;
  color: gray;
}
/* line 562, ../scss/_default.scss */
.quote .accordion-hidden {
  background-color: white;
  padding: 0px 20px 20px 100px;
  max-height: 300px;
  overflow: auto;
}
/* line 570, ../scss/_default.scss */
.quote.quote-small {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  /*quote-content*/
  /*footer*/
}
/* line 575, ../scss/_default.scss */
.quote.quote-small:last-child {
  border-bottom: none;
}
/* line 578, ../scss/_default.scss */
.quote.quote-small .quote-content {
  background-color: #f7f7f7;
}
/* line 580, ../scss/_default.scss */
.quote.quote-small .quote-content .user-img {
  width: 80px;
  height: 80px;
}
/* line 583, ../scss/_default.scss */
.quote.quote-small .quote-content .user-img img {
  width: 80px;
  height: 80px;
}
/* line 589, ../scss/_default.scss */
.quote.quote-small .quote-content .quote-data {
  width: 670px;
}
/* line 590, ../scss/_default.scss */
.quote.quote-small .quote-content .sidebar {
  width: 32px;
}
/* line 594, ../scss/_default.scss */
.quote.quote-small footer .mec-menu {
  margin: 0 52px;
}
/* line 595, ../scss/_default.scss */
.quote.quote-small footer .quote-actions {
  float: right;
}

/* citação */
/*
** PARTIALS
** partial são as suas páginas
*/
/* CITAÇÕES */
/* line 3, ../scss/partials/citacoes.scss */
.reload-box {
  padding: 20px 0;
}
/* line 6, ../scss/partials/citacoes.scss */
.reload-box .reload-btn {
  display: block;
  color: #333333;
  font-size: .85em;
  /*loading*/
  /*loading*/
}
/* line 11, ../scss/partials/citacoes.scss */
.reload-box .reload-btn:hover {
  color: #666666;
}
/* line 15, ../scss/partials/citacoes.scss */
.reload-box .reload-btn.loading {
  content: "atualizando...";
}
/* line 17, ../scss/partials/citacoes.scss */
.reload-box .reload-btn.loading .fa.fa-refresh {
  animation: anim-rotate 2s infinite linear;
}
/* line 23, ../scss/partials/citacoes.scss */
.reload-box .reload-btn.done .fa.fa-refresh {
  animation: none;
}

/*reload-box*/
